
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #26dae4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1:hover {
    color: lavenderblush
}

 .weather-card{
    background: orange;
    padding: 30px;
    vertical-align: middle;
    width: 500px;
    height: 26rem;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:2px solid black;
    cursor:pointer;
    border-style:dotted;
    
}
input:hover {
    border:none;
    border-radius: 0.49em;
    
   
}
input:hover::placeholder {
    color: black;
    font-weight: bold;
}   

button {
    width: 10rem;
    height: 40px;
    padding: 10px;
    background: #4facfe;
    border: none;;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #0d49df;
    color: white;;
}
.search-box {
    display: flex;
    gap:10px;
    padding-top: 25px;
}


.weather-info {
    justify-content: center;
    display: grid;
    gap: 0.5em;
    margin-top: 20px;
    background-color:lavender;
    padding: 25px;
    border: 2px solid black;
    border-radius:0.8rem;
    align-items: center;
    position:relative;

    
} 

/* .cty-pos {
    padding-right: 20rem;
} */
