*,*::after,*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
     background: black;
     height: 100vh;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
     
}

input {
    width: 310px;
    box-shadow: 0 10px 15px rgb(194, 42, 42,0.5); 
    padding:24px;
    background: transparent; 
    margin:10px;
    border-radius: 20px;
    font-size:20px ;
    text-align: right;
    cursor: pointer;
    color:whitesmoke;
}

input:hover {
    border-color: white;
}

.container {
    border:2px solid white;
    padding:20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
    border-radius: 16px;
    outline: none;
  
}

input::placeholder {

    color:whitesmoke;
    font-weight: bold;

}


button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border:none;
    cursor: pointer;
    margin:10px;
    background: transparent;
    color:white;
    font-size: 20px;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}

button:hover {
    border-color: white;
}

.equal-btn {
    background-color: orange;
}

.operator-btn {
    color: #6dee0a;
}




